body {
  background: linear-gradient(
    to top,
    #ffffff,
    #c4cacd,
    #9ecfe4,
    #8aa7b4,
    #425158,
    #233841,
    #2b2e35
  );
}

.form-register {
  width: 50%;
  height: 700px;
  padding: 20px;
  margin: auto;
  background-color: #425158;
  border-radius: 10px;
}

.top-space {
  margin-top: 50px;
}

.form-myBox {
  margin-top: 50px;
}

.text-left {
  color: white;
}

.button-blue {
  background-color: #2b2e35;
  color: #ffffff;
  border: none;
}
.button-blue:hover {
  background-color: #8aa7b4;
  color: linear-gradient(
    to right,
    #ffffff,
    #c4cacd,
    #9ecfe4,
    #8aa7b4,
    #425158,
    #233841,
    #2b2e35
  );
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
