body {
  background-color: black;
}
.backgd {
  background-image: url("https://i.imgur.com/17GHd4C.jpg");
  background-size: cover;
  /* background-color: #002e3f; */
}
.user-container {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border-color: #1d2223;
  box-shadow: 20px 20px 50px #1d2223;
}

.image-border {
  border-color: #1d2223;
  box-shadow: 20px 20px 50px #1d2223;
  border-radius: 40px;
}

.italic {
  font-style: italic;
}

.top-space {
  margin-top: 50px;
}

.bottom-space {
  margin-bottom: 50px;
}

.button-blue {
  background-color: #1d2223;
  color: #ffffff;
  border: none;
}
.caption {
  color: #1d2223;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}
.userPage-text {
  font-size: 20px;
  margin-left: 50px;
}

.profile-pic {
  width: 200;
  width: 200;
  background-size: auto;
}
.card-container {
  /* position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-color: #fff;
  background-clip: border-box; */
  /* width: 100%; */
  /* max-width: 800px; */
  padding: 20px;
  margin: 40px;
  /* margin: 20px; */
  background-color: white;
  border-radius: 8px;
  border-color: #1d2223;
  box-shadow: 20px 20px 50px #1d2223;
}

.card > hr {
  /* margin-right: 0;
  margin-left: 0; */
}

.card-body {
  /* padding: 1.5rem;
  flex: 1 1 auto; */
  /* border-color: #1d2223;
  box-shadow: 20px 20px 50px #1d2223;
  border-radius: 40px; */
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #1d2223;
  color: white;
}

.card-header:first-child {
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}
.card-profile-image {
  position: relative;
}

.card-profile-image img {
  size: 200%;
  position: relative;
  left: 50%;
  max-width: 180px;
  transition: all 0.15s ease;
  transform: translate(-50%, 0%);
  border-radius: 0.375rem;
}

.card-profile-image img:hover {
  transform: translate(-50%, -3%);
}

.card-profile-stats {
  padding: 1rem 0;
}

.card-profile-stats > div {
  margin-right: 1rem;
  padding: 0.875rem;
  text-align: center;
}

.card-profile-stats > div:last-child {
  margin-right: 0;
}

.card-profile-stats > div .heading {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.card-profile-stats > div .description {
  font-size: 0.875rem;
  color: #adb5bd;
}
.user-pic {
  object-fit: cover; /* Do not scale the image*/
  object-position: center; /* Center the image within the element */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* max-width: 250px;
  margin-bottom: 1rem; */
}

.btn {
  background-color: #1d2223;
  color: white;
  font-weight: bold;
}
